@import "tailwindcss";

@theme {
    --color-chess-dark: #769556;
    --color-chess-light: #EDECD1;

    --color-text-white: #bababa;

    --color-aside-border-right: #262626;

    --color-chess-outline: #262421;
    --color-chess-border: #363431;

    --color-button-bg-white: #d7d7d7;

    --color-chess-bg: #161512;
}

html {
    scrollbar-gutter: stable;
}

body {
    color: #bababa;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}